<div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>
<div class="modal-body" style="height: 130px; background-color:rgba(217,83,79, 0.2); padding: 0">
    <div class="col-sm-12" style="padding:15px; font-size:18px; text-align:center;">
        <h4 class="control-label">Are you sure you want to permanently delete this job: </h4>
        <span style="padding-right:100px">Job Title: {{title}}</span><br>
        <span style="padding-right:50px">Company: {{company}}</span>
    </div>
</div>
<div class="modal-footer" style="height:60px;">
    <button type="button" class="btn btn-danger" style="position:relative; top:-10px; width:100px" ng-click="yes()">Delete</button>
    <button type="button" class="btn btn-default" style="position:relative; top:-10px; width:100px" ng-click="cancel()">Cancel</button>
</div>