<div ng-controller="HeaderCtrl" style="line-height: 0px;">
    <nav class="menu-bar navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav" style="font-size:20px;">
                <li>
                    <a ui-sref="main" class="navbar-brand logo" href="#" style="padding: 10px 12px 12px 12px; font-size: 20px; margin-right:10px;">
                        <span class="glyphicon glyphicon-send" style="color: #7cb228; padding: 0 5px;"></span>Hire Me Up
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a type="button" style="padding: 12px;" ui-sref="main">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="jobs" style="padding: 12px;">Jobs</a>
                </li>
                <li ng-hide="isAuthenticated()" ui-sref-active="active" style="float: right;">
                    <a ui-sref="register" style="padding: 12px;">Register</a>
                </li>

                <li ng-hide="isAuthenticated()" ui-sref-active="active" style="float: right;">
                    <a ui-sref="login" style="padding: 12px;">Sign In</a>
                </li>
                <li ng-show="isAuthenticated()" ui-sref-active="active" style="float: right;">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" style="font-size: 20px; background-color:#7cb228" type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user dropdown-toggle" style="margin-right: 5px;"></span><span class="caret" style="margin-left:5px;"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1" style="width:200px; background-color: #fff;">
                            <li><a role="menuitem" ui-sref="userProfile.jobsViewed" tabindex="-1" href="#" style="font-size:15px; padding:5 20; color: #000000">User Profile</a></li>
                            <li><a role="menuitem" ui-sref="userProfile.jobsMarked" tabindex="-1" href="#" style="font-size:15px; padding:5 20; color: #000000">Jobs Marked</a></li>
                            <li><a role="menuitem" ui-sref="userProfile.jobsViewed" tabindex="-1" href="#" style="font-size:15px; padding:5 20; color: #000000">Jobs Viewed</a></li>
                            <li><a role="menuitem" ui-sref="userProfile.jobsApplied" tabindex="-1" href="#" style="font-size:15px; padding:5 20; color: #000000">Jobs Applied</a></li>
                            <li class="divider"></li>
                            <li><a role="menuitem" ui-sref="logout" tabindex="-1" href="#" style="font-size:15px; padding:5 20; color: #000000">Sign Out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
