<div id="jobs" class="container" style="height: 100%">
    <div style="background-image: url('http://teecom.com/media/projects_hero_airbnb-01.jpg'); background-size: cover; padding:14px 0 0 0; margin-bottom: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="leadShadow" style='text-align: center; margin-top: 20px;'>Get Hired. Love Your Job.</p>
        <div class="input-group col-sm-6 col-sm-offset-3">
            <input type="text" name="job" ng-model="jobToSearch" ng-keypress="keyPressed($event)" class="form-control font-style" placeholder="Job Title.." />
            <button class="btn btn-primary" style="font-size:13px; padding: 10px 15px" ng-click="searchJob()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <div class="col-sm-12" style="margin-top: 50px; padding: 0">
            <button type="button" class="btn btn-primary" style="width:100%; opacity: 0.9" ng-click="openModal('POST')">Hiring? Post A Job<span class="glyphicon glyphicon-plus" style="padding-left: 10px;"></span></button>
        </div>
    </div>

    <div style="background-color:rgba(78,93,108,0.98); padding:0; margin-bottom:0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default">
        <div class="panel-heading" style="background-color: rgba(91,192,222,0.9); padding: 5px;">
            <h3 class="panel-title" style="margin: 5px; display: inline-block; font-size: 20px; font-weight: bold;">Job Openings</h3>
            <label style="margin:5px 20px; font-size: 14px;">{{numOfJob}} Jobs</label>
            <a href="#" role="button" ng-click="refresh()" style="float: right; margin:10px; color: #eaeaea;"><span class="glyphicon glyphicon-refresh" style="padding-right:5px"></span>refresh all jobs</a>
        </div>
        <div class="panel-body" id="job-list" style="width:100%; height:720px; ">
            <table class="table table-hover table-font-style">
                <thead style="background-color: #485563;">
                    <tr>
                        <th class="col-sm-2">Date Posted</th>
                        <th class="col-sm-3">Title</th>
                        <th class="col-sm-3">Company</th>
                        <th class="col-sm-1">Views</th>
                        <th class="col-sm-1">Applicants</th>
                        <th class="col-sm-2" style="text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="padding: 5px; border-bottom-style: solid; border-bottom-color: slategray; border-bottom-width: 2px;" ng-repeat="job in jobs">
                        <td>{{job.datePosted | date: MM-dd-yyyy}}</td>
                        <td><a style="color: #7cb228; font-weight:bold" href="#" ng-click="viewJob(job); openModal('VIEW')">{{job.title}}</a></td>
                        <td>{{job.company}}</td>
                        <td style="padding-left: 15px">{{job.views}}</td>
                        <td style="text-align:center">{{job.applicants}}</td>
                        <td style="text-align:center">
                            <button type="button" uib-popover="Bookmark" popover-trigger="mouseenter" class="btn btn-default" style="color:#fff" ng-click="markJob(job); job.marked = !job.marked;">
                                <span ng-class="{'bookmarked': job.marked}" class="glyphicon glyphicon-bookmark markJob"></span>
                            </button>
                            <button type="button" uib-popover="Apply" popover-trigger="mouseenter" class="btn btn-default" style="color:#fff" ng-click="applyJob(job); job.applied = true;">
                                <span ng-class="{'applied': job.applied}" class="glyphicon glyphicon-send applyJob"></span>
                            </button>
                        </td>
                    </tr>
                    <tr ng-show="jobs.length === 0" style="font-size: 20px; font-weight: bold">
                        <td style="padding-top:30px" colspan="6">No Result Found For "{{jobToSearch}}"</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="numOfJob" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" style="margin: 0; vertical-align: middle;"></uib-pagination>
        </div>
    </div>
    <div class="hr"></div>
    <div style="margin-bottom:20px">
        <p>Copyright ©2015, Chen Guo. HireMeUp is for demonstration and non-commercial use only.</p>
    </div>
</div>
