<div id="login" class="container">
  <form ng-submit="login()" class="form-sign-in" name="register" novalidate>
    <h1 class="form-sign-in-heading text-muted">Login</h1>
    <input type="email" name="email" ng-model="email" class="form-control" placeholder="Email address" required>
    <span class="help-block menu-bar" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</span>
    <input type="password" name="password" ng-model="password" class="form-control" placeholder="Password" required>
    <button ng-disabled="register.$invalid" style="opacity:0.9" class="btn btn-lg btn-primary btn-block" type="submit">
      Login
    </button>
    <br />
    <button ng-click="authenticate('google')" class="btn btn-lg google-button btn-block" type="button">
      Google Login
    </button>
    <button ng-click="authenticate('facebook')" class="btn btn-lg facebook-button btn-block" type="button">
      Facebook Login
    </button>
  </form>
</div>
