<div class="container">
  <div class="jumbotron col-sm-8 col-sm-offset-2" style="padding-bottom: 20px;">
    <h1><span class="glyphicon glyphicon-send" style="color: #7cb228; padding: 0 10px;"></span>Hire Me Up</h1>
    <p class="lead">Get Hired. Love Your Job.</p>
    <div class="input-group col-sm-8">
      <input type="text" name="job" ng-model="jobToSearch" ng-keypress="keyPressed($event)" class="form-control font-style" placeholder="Job Title.." />
      <button class="btn btn-primary" style="font-size:13px; padding: 10px 15px" ng-click="searchJob()"><span class="glyphicon glyphicon-search"></span></button>
    </div>
    <div style="margin-top:60px">
      <legend></legend>
      <span class="col-sm-12">Copyright ©2015, Chen Guo, All Rights Reserved.</span> 
      <span class="col-sm-12">HireMeUp is for demonstration and non-commercial use only.</span>
    </div>
  </div>
</div>