<div id="postJob" class="container">
    <form class="form-horizontal" ng-submit="postJob()" name="jobs">
        <br>

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label font-style" for="jobTitle">Title</label>
            <div class="col-sm-10">
                <input class="form-control font-style" type="text" id="jobTitle" placeholder="Title..." ng-model="jobTitle">
            </div>
            <br>
            <br>
            <label class="col-sm-2 control-label font-style" for="jobTitle">Description</label>
            <div class="col-sm-10">
                <input class="form-control font-style" type="text" id="description" placeholder="Description..." ng-model="description">
            </div>
            <button class="btn btn-primary col-sm-2 font-style" type="submit">Post Job</button>
        </div>
    </form>
</div>