<div id="jobs" class="container" style="height: 100%">
    <div style="background-image: url('http://teecom.com/media/projects_hero_airbnb-01.jpg'); background-size: cover; padding:14px 0 0 0; margin-bottom: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="leadShadow" style='text-align: center; margin-top: 20px;'>Get Hired. Love Your Job.</p>
        <div class="input-group col-sm-6 col-sm-offset-3">
            <input type="text" name="job" ng-model="jobToSearch" class="form-control font-style" placeholder="Job Title.." />
            <button class="btn btn-primary" style="font-size:13px; padding: 10px 15px" ng-click="searchJob()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <div class="col-sm-12" style="margin-top: 50px; padding: 0">
            <button type="button" class="btn btn-primary" style="width:100%; opacity:0.9;" ng-click="openJobModal('POST')">Hiring? Post A Job<span class="glyphicon glyphicon-plus" style="padding-left: 10px;"></span></button>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left: 0;">
        <div class="nav nav-tabs nav-justified">
            <div class="wizard">
                <a href="#" ui-sref=".jobsViewed" ui-sref-active="active">Jobs Viewed</a>
                <a href="#" ui-sref=".jobsMarked" ui-sref-active="active">Jobs Marked</a>
                <a href="#" ui-sref=".jobsApplied" ui-sref-active="active">Jobs Applied</a>
            </div>
        </div>
        <div class="ui-view-container" style="height: 650px; background-color: rgba(78,93,108,0.9);">
            <div ui-view></div>
        </div>
    </div>


    <div class="hr"></div>
    <div>
        <p>Copyright ©2015, Chen Guo</p>
        <a href="https://github.com/vesperiaLSU/HireMeUp.git">Feeling interested? View the project source code on Github</a>
    </div>
</div>
